{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .product {
            width: 80%;
            margin-left: 10%;
        }

        .product > h5 {
            margin-top: 20px;
        }

        .dates {
            display: flex;
            justify-content: space-between;
        }
        .review {
            margin-top: 30px;
        }
        .review_block {
            height: max-content;
            padding: 10px;
            border: 1px solid #242b2e;
            color: #242b2e;
            background: #cbcbcb;
        }
        .product img{
            width: 100%;
        }
    </style>
    <div class="product">
        {% if product.image %}
            <img src="/media/{{ product.photo }}" alt="Ты попутал походу">
        {% else %}
            <img src="ef3-placeholder-image.jpg" alt="">
        {% endif %}
        <div style="display: flex; justify-content: space-evenly;">
            <h1>{{ product.title }}</h1>
            <h1>{{ product.auther.username }}</h1>
        </div>

        <h3>{{ product.price }}</h3>
        <h5>{{ product.description }}</h5>
        <div class="categories">
            {% for category in categories %}
                <div class="category">
                    <h6>{{ category.title }}</h6>
                </div>
            {% endfor %}
        </div>

        <div class="dates">
            <h5>{{ product.created_at }}</h5>
            <h5>{{ product.updated_at }}</h5>
        </div>
        <form action="/products/{{ product.id }}/" method="post">
            {% csrf_token %}
            {{ review_form }}
            <input type="submit" class="btn">
        </form>
        <div class="review">
            {% for review in reviews %}
                <div class="review_block">
                    <h6>{{ review.text }}</h6>
                    <p>{{ review.created_date }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}